<h1>Promocodes#show</h1>
<p>Find me in app/views/promocodes/show.html.erb</p>

<div class="l-wrapper">
    <div class="card">
        <div class="card-content">
            <p class="card-title">Generated code</p>
            <p class="card-text">
                <%= params[:code] %>
            </p>
        </div>
    </div>
</div>